
<!-- Carrossel -->
<div id="carouselExample" class="carousel slide my-4" data-bs-ride="carousel">
  <div class="carousel-inner text-center">
    <div class="carousel-item active">
      <div style="height: 400px; background-color: #918c8c;" class="d-flex flex-column justify-content-center">
        <h1 class="text-white fw-bold">Produtos</h1>
        <p class="text-white">Conheça os nossos produtos</p>
        <a routerLink="/produtos" class="btn btn-primary">Conheça</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

